/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-go {
  background-image: url(sprite.png);
  background-position: 0px -156px;
  width: 22px;
  height: 22px;
}
.icon-login {
  background-image: url(sprite.png);
  background-position: 0px -60px;
  width: 14px;
  height: 16px;
}
.icon-sp1 {
  background-image: url(sprite.png);
  background-position: 0px -193px;
  width: 26px;
  height: 24px;
}
.icon-sp2 {
  background-image: url(sprite.png);
  background-position: 0px -123px;
  width: 26px;
  height: 18px;
}
.icon-sp3 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 26px;
  height: 14px;
}
.icon-sp4 {
  background-image: url(sprite.png);
  background-position: 0px -272px;
  width: 25px;
  height: 25px;
}
.icon-sp5 {
  background-image: url(sprite.png);
  background-position: 0px -91px;
  width: 26px;
  height: 17px;
}
.icon-sp6 {
  background-image: url(sprite.png);
  background-position: 0px -232px;
  width: 26px;
  height: 25px;
}
.icon-sp7 {
  background-image: url(sprite.png);
  background-position: 0px -312px;
  width: 26px;
  height: 26px;
}
.icon-sp8 {
  background-image: url(sprite.png);
  background-position: 0px -353px;
  width: 21px;
  height: 29px;
}
.icon-user {
  background-image: url(sprite.png);
  background-position: 0px -29px;
  width: 16px;
  height: 16px;
}
